html {
    font-size: 10px;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 1020px;
    /*padding: 25px;*/
}

/*======= HEADER BEGIN =======*/

.header {
    background-color: #2d303a;
    border-bottom: 0.6rem solid #323746;
    color: #ffffff;
    text-transform: uppercase;
}

.header__wrapper {
    padding: 2.9rem 4rem 2rem 4rem;
    display: flex;
    justify-content: space-between;
}

.header a.logo {
    text-decoration: none;
    margin-bottom: 0;
}
.header a.logo h1{
    margin: 0;
    color: #ffffff;
    font-size: 2.52rem;
    letter-spacing: -0.07rem;
}

.header .red__star {
    color: #f06c64;
}

.header__navigation ul{
    list-style: none;
    font-size: 1.22rem;
    letter-spacing: -0.03rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header__navigation ul li {
    padding: 1.29rem 0;
}

.header__navigation ul li::before {
    content: "\2022";
    color: #494e62;
    display: inline-block; 
    font-size: 0.7rem;
    height: 1rem;
    vertical-align: middle;
    padding: 0 1.31rem;
}

.header__navigation ul li.active {
    color: #f06c64;
}

.header__navigation ul li.active::before {
    display: none;
}

.header__navigation ul li:hover {
    color: #d2342a;
}

/*======= HEADER END =======*/

/*======= SLIDER BEGIN =======*/

.slider {
    background-color: #f06c64;
}

.slider__wrapper {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}
.arrow {
    cursor:pointer;
    transform: scale(90deg);
    padding: 0;
}

.slider__container {
    display: flex;
    justify-content: space-between;
}

.second__phone {

}
/*======= SLIDER END =======*/