html {
    font-size: 10px;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 1020px;
    /*padding: 25px;*/
}

/*======= HEADER BEGIN =======*/

.header {
    background-color: #2d303a;
    border-bottom: 0.6rem solid #323746;
    color: #ffffff;
    text-transform: uppercase;
}

.header__wrapper {
    padding: 2.9rem 4rem 1.9rem 4rem;
    display: flex;
    justify-content: space-between;
}

.header a.logo {
    text-decoration: none;
    margin-bottom: 0;
}
.header a.logo h1{
    margin: 0;
    color: #ffffff;
    font-size: 2.52rem;
    letter-spacing: -0.07rem;
}

.header .red__star {
    color: #f06c64;
}

.header__navigation ul{
    list-style: none;
    font-size: 1.22rem;
    letter-spacing: -0.03rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header__navigation ul li {
    padding: 1.29rem 0;
}

.header__navigation ul li::before {
    content: "\2022";
    color: #494e62;
    display: inline-block; 
    font-size: 0.7rem;
    height: 1rem;
    vertical-align: middle;
    padding: 0 1.31rem;
}

.header__navigation ul li.active {
    color: #f06c64;
}

.header__navigation ul li.active::before {
    display: none;
}

.header__navigation ul li:hover {
    color: #ea676b;
}

/*======= HEADER END =======*/

/*======= SLIDER BEGIN =======*/

.slider {
    background-color: #f06c64;
    border-bottom: 0.6rem solid #ea676b;
}

.slider__wrapper {
    padding: 5.3rem 4rem 5.5rem 4.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    cursor:pointer;
}

.slider__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 85%;
}

/*======= SLIDER END =======*/

/*======= SERVICES BLOCK BEGIN =======*/
.our__services {
    background-color: #f2f2f2;
    color: #666d89;
    padding: 6rem 4rem;
}

.our__services h2 {
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.55rem;
}

.our__services p {
    font-size: 1.8rem;
    letter-spacing: -0.0072rem;
    line-height: 3rem;
    text-align: left;
}

.our__services .services__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our__services .services__list li {
}

.our__services .services__list li .icon-service {
    border: 2px solid #666d89;
    border-radius: 50%;
    max-width: 8rem;
    min-height: 8rem;
    text-align: center;
}

.our__services .services__list li .icon-service img {
    height: 100%;
}





/*======= SERVICES BLOCK END =======*/